.common-layout {
  .g-header,
  .g-footer,
  .g-main,
  .g-aside {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .g-header,
  .g-footer {
    background-color: var(--g-color-primary-light-7);
    color: var(--g-text-color-primary);
    text-align: center;
  }

  .g-aside {
    background-color: var(--g-color-primary-light-8);
    color: var(--g-text-color-primary);
    text-align: center;
  }

  .g-main {
    background-color: var(--g-color-primary-light-9);
    color: var(--g-text-color-primary);
    text-align: center;

    height: 150px;
  }
}
